{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block header %}Вход{% endblock %}
{% block content %}
<form method="POST" action="{{ url_for('login') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </p>
    <p>
        <input type="submit" value="Вход">
    </p>
</form>
{% endblock %}
